.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  width: 100%;
  position: relative; 
  
  @media (min-width: 1200px) {
     background-attachment: fixed;
  }
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 100%;
  position: absolute;
  top: 50%;
  height: 100%; 
}
  

#slide-1 .bcg {@include overlay(url(../img/bg.jpg))}
#slide-1 .hsContent {
  bottom: 200px;
  top: auto;
}

